<!DOCTYPE html>
<html>
{% include "head.html" %}
<body>


<!-- GOOGLE PLUS SIGN IN BUTTON-->


<div id="signinButton">
          <span class="g-signin"
                data-scope="openid email"
                data-clientid="684439677805-mdi6vnclev40k51oqama45p3vo461qdr.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="no">
          </span>
</div>
<!--END GOOGLE PLUS SIGN IN BUTTON -->
<div  id="result"></div>
<script>
    function signInCallback(authResult) {
        if(authResult['code']){
            $('signinButton').attr('style','display:none')
            $.ajax({
                type: 'POST',
                url: '/googleconnect?state={{STATE}}',
                processData: false,
                contentType: 'application/octet-stream; charset=utf-8',
                data: authResult['code'], //onetime usecode
                success: function (result) {
                    if(result){
                        $('result').html('login successful!!!' + result + "one sec...")
                        setTimeout(function () { window.location.href = "/catalog/"}, 4000);
                    }
                    else if (authResult['error']){
                        console.log('There was an error: ' + authResult['error']);
                    }
                    else {
                        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                    }
                }
            });
        }
        
    }
</script>
</body>

</html>